.card {
    -fx-background-color: black;
    -fx-width: 180px;
    -fx-padding: 10px 10px;
    -fx-background-radius: 8px;
}

.title {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #E2B53E;
    -fx-text-fill: #FDF9C9;
}

.button:hover {
    -fx-background-color: #E9A23B;
}

.btn-secondary {
    -fx-background-color: #FDF9C9;
    -fx-text-fill: #E2B53E;
}

.btn-secondary:hover {
    -fx-background-color: #F9E796;
}

.btn-blue {
    -fx-background-color: #E2B53E;
    -fx-text-fill: #FDF9C9;
}

.btn-blue:hover {
    -fx-background-color: #E9A23B;
}

.btn-red {
    -fx-background-color: #FDF9C9;
    -fx-text-fill: #E2B53E;
}

.btn-red:hover {
    -fx-background-color: #F9E796;
}

.body .label {
    -fx-text-fill: #A2A5B5;
    -fx-font-size: 10px;
    -fx-font-weight: none;
}

.subtitle {
    -fx-text-fill: #E2B53E;
    -fx-font-size: 12px;
}
